h1::before{
    content: "\2715";        /*da mettere sempre anche come stringa vuota */
    background-color: orange;
    /* display: inline-block; */
    display: block;
    width: 300px;
    height: 30px;
    /* border-radius: 50%; */
    vertical-align: middle;
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
}

h1{
    color: red;
    margin: 1em;
    padding: 1em;
}

h1::after{
    content: "AFTER";
}